<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>学生界面</title>
<meta name="description" content="这是学生主页">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="../img/lysf.ico">

	<link href="__INDEX__/sindex/amazeui/css/amazeui.min.css" rel="stylesheet">

	<link href="__INDEX__/sindex/css/admin.css" rel="stylesheet">
	<link href="__INDEX__/sindex/css/app.css" rel="stylesheet">
	<link href="__INDEX__/sindex/css/pagination.css" rel="stylesheet">
</head>

<body style="overflow:hidden;" >

	<div id="ref_page" style="height: 500px;">
	    <div class="teacher_search_title am-panel am-panel-default">
		    <div class="am-panel-bd">
				<div class="am-cf">
				  <div class=" am-fl"><span class="tpl-content-page-title">教师列表</span></div>

				</div>
		    </div>
		</div>
		<div class="teacher_search_title am-panel am-panel-default">
			<div class="am-panel am-panel-default">
				<div class="am-panel-bd am-scrollable-horizontal">
	                    <table class="am-table am-table-centered am-table-striped am-table-hover">
	                        <thead>
	                            <tr>
									<th></th>
	                                <th>姓名</th>
	                                <th>教学方向</th>
	                                <th>性别</th>
	                                <th>联系方式</th>
	                                <th>系别</th>
	                                <th>剩余学生数</th>
	                                <th>操作</th>
	                            </tr>

								{volist name="teacher" id="teacher"}
								<tr>
									<td class="text-center"><input type="checkbox" value="{$teacher.num}" name="numarr[]" class="cbox"></td>

									<td>{$teacher.name}</td>
									<td>{$teacher.direction}</td>
									<td>{$teacher.sex}</td>
									<td>{$teacher.tel}</td>
									<td>{$teacher.dept}</td>
									<td>{$teacher.surplusnum}</td>


									<td>

										<a href="{:url('index/showteacher',array('num'=>$teacher.num))}"><button id="searchTeacher" class="am-btn am-btn-default" type="button">查看</button></a>

										<!--										<a href="{:url('index/editartice',array('num'=>$teacher.num))}"><button id="searchTeacher" class="am-btn am-btn-default" type="button">联系</button></a>-->

									</td>

								</tr>
								{/volist}
	                        </thead>
	                        <tbody id="chooseBody"></tbody>
	                    </table>
	                </div>
	                <footer class="am-panel-footer" style="height: 50px;">
						<div class="am-fr">
						   <div id="news-Pagination-1"></div>
						</div>
	                </footer>
			</div>
		</div>
	</div>

<script src="../js/jquery.min.js"></script>
<script src="../amazeui/js/amazeui.min.js"></script>
<script src="../js/jquery.pagination.js"></script>

</body>

</html>