<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="__INDEX__/thing/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->

    <!-- Custom Theme files -->
    <script src="__INDEX__/thing/js/jquery.min.js"></script>
</head>
<body>

<div class="col-md-12">
    <div class="footer">
        <div class="footer-top">
            <h2>选择 </h2>

            <h3></h3>

            <form action="{:url('index/choiceteacher')}" method="post" class="cmxform">
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-md-7">

                            <div class="form-group">
                                <div class="input-group"> <span class="input-group-addon">教师姓名</span>
                                    <input type="text" name="teacher" value="{$teacher.name}" class="form-control">

                                </div>
                            </div>




                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="submit" value="确认选择" class="submit btn btn-blue">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>


    </div>
</div>
</body>
</html>